.i {
  display: flex;
  height: 100vh;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right {
  flex: 1;
  position: relative;
}

.i-left-wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
}

.i-title {
  height: 50px;
  overflow: hidden;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #59b256;
  display: flex;
  align-items: center;
}

.i-scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}

.i-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.i-bg {
  clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #59b256;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/*-------------------------------------------------------------------------------------------------*/
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 7rem;
  
}

.resume_link {
  display: block;
  font-weight: bold;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: left;
  position: relative;
  transition: all 0.35s;
  border-radius: 2rem;
  overflow: hidden;
 
}

.resume_link span {
  position: relative;
  z-index: 2;
}

.resume_link:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #59b256;
  transition: all 0.35s;
}

.resume_link:hover {
  color: #fff;
}

.resume_link:hover:after {
  width: 100%;
}
.i-right {
  margin-top: 3rem;
}

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }

  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .i-desc {
    display: none;
  }
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2rem;
  }

  .resume_link {
    display: block;
    font-weight: bold;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: left;
    position: relative;
    transition: all 0.35s;
  }

  .resume_link span {
    position: relative;
    z-index: 2;
  }

  .resume_link:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #59b256;
    transition: all 0.35s;
  }

  .resume_link:hover {
    color: #fff;
  }

  .resume_link:hover:after {
    width: 100%;
  }
  .i-right {
    margin-top: 5rem;
  }
}

/*-------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 250px) {
  .i {
    flex-direction: column;
  }

  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .i-desc {
    display: none;
  }
  .i-title {
    width: 100%;
    margin: 2rem;
  }

  /*-------------------------------------------------------------------------------------------------*/
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 7rem;
  }

  .resume_link {
    display: block;
    font-weight: bold;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: left;
    position: relative;
    transition: all 0.35s;
  }

  .resume_link span {
    position: relative;
    z-index: 2;
  }

  .resume_link:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #59b256;
    transition: all 0.35s;
  }

  .resume_link:hover {
    color: #fff;
  }

  .resume_link:hover:after {
    width: 100%;
  }
  .i-right {
    margin-top: 3rem;
  }
}
