.p {
  width: 95%;
  height: 50vh;
  margin: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 2px solid beige;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  background-image:linear-gradient(#e31740,#dd294d,#f84568);
}

.p-browser {
  height: 5vh;
  background-color: rgb(243, 242, 242);
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: auto;
  height: 35px;
  border-radius: 40%;
  margin: 2px;
  background-color: #edf2f8;
  color: green;
}

.p-img {
  width: 100%;
  transition: all 10s ease;
}

.p:hover .p-img {
  transform: translateX(-100%);
}

@media screen and (max-width: 480px) {
  .p {
    width: 80%;
    height: 30vh;
  }
  .p-circle {
    line-height: 1rem;
    margin-top: 1rem;
  }
  .p-img {
    width: 50%;
    transition: all 10s ease;
  }
  .p-tech {
    font-weight: bold;
    margin-top: 1rem;
  }
}
.deploy_link {
  display: block;
  font-weight: bold;
  width: 70px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  margin: auto;

}

.deploy_link span {
  position: relative;
  z-index: 2;
}

.deploy_link:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #59b256;
  transition: all 0.35s;
}

.deploy_link:hover {
  color: #fff;
}

.deploy_link:hover:after {
  width: 100%;
}
