.root {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #edf2f8;
  z-index: 99;
  font-size: 20px;
  font-weight: 500;
  color: #59b256;
}
a {
  height: 50px;
}
.navsCont {
  display: grid;
  grid-template-columns: repeat(6, 15%);
  align-items: center;
}
.nav {
  cursor: pointer;
  height: 45px;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}
.nav:hover {
  border-bottom: 5px solid rgb(0, 49, 64);
}
.navlogo {
  cursor: pointer;
  width: 70px;
  text-align: center;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}
/* .navlogo:hover {
    /* border-bottom: 5px solid rgb(0, 49, 64); */
/* }  */

/* .active > .nav {
    border-bottom: 5px solid rgb(0, 49, 64);
  }
  .active > .navlogo {
    border-bottom: 5px solid rgb(0, 49, 64);
  } */
/* .navlogo:active {
    border-bottom: 5px solid rgb(0, 49, 64);
  } */
.logoimg {
  height: 60px;
  border-radius: 50%;
  /* border: 1px solid black; */
  margin-top: 25px;
  margin-left: 100px;
}
@media only screen and (max-width: 1024px) {
  .root {
    grid-template-columns: 50% 50%;
    font-size: 18px;
  }
  .navsCont {
    justify-content: space-around;
  }
  .nav {
    height: 47px;
    width: 100%;
  }
  .navlogo {
    height: 47px;
    width: 50px;
    margin-left: 5%;
  }
  .nav:hover {
    border-bottom: none;
  }
  .navlogo:hover {
    border-bottom: none;
  }
  .active > .nav {
    border-bottom: none;
  }
  .active > .navlogo {
    border-bottom: none;
  }
}

@media only screen and (max-width: 769px) {
  .root {
    grid-template-columns: repeat(1fr, 5);
    font-size: 15px;
  }
  .navsCont {
    justify-content: space-around;
  }
  .nav {
    height: 47px;
    width: 100%;
  }
  .navlogo {
    height: 47px;
    width: 50px;
    margin-left: 5%;
  }
  .nav:hover {
    border-bottom: none;
  }
  .navlogo:hover {
    border-bottom: none;
  }
  .active > .nav {
    border-bottom: none;
  }
  .active > .navlogo {
    border-bottom: none;
  }
}

@media only screen and (max-width: 480px) {
  .root {
    grid-template-columns: 75% 80%;
    font-size: 11px;
  }
  .navsCont {
    justify-content: space-around;
  }
  .nav {
    height: 47px;
    width: 100%;
  }
  .navlogo {
    height: 47px;
    width: 50px;
    margin-left: 5%;
  }
  .nav:hover {
    border-bottom: none;
  }
  .navlogo:hover {
    border-bottom: none;
  }
  .active > .nav {
    border-bottom: none;
  }
  .active > .navlogo {
    border-bottom: none;
  }
}
